<p id="notice"><%= notice %></p>

<h1>Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.title %></td>
        <td><%= assignment.content %></td>
        <td><%= link_to 'Show', assignment %></td>
        <% if can? :edit, Assignment %>
          <td><%= link_to 'Edit', edit_assignment_path(assignment) %></td>
          <td><%= link_to 'Destroy', assignment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :edit, Assignment %>
  <%= link_to 'New Assignment', new_assignment_path %>
<% end %>
