<nav>
  <ul>
    <li><%= link_to 'Home', root_path %> </li>
    <li><%= link_to 'Courses', rails_admin.index_path('course') %> </li>
    <li><%= link_to 'Add Course', rails_admin.new_path('course') %> </li>
    <li><%= link_to 'Grades', rails_admin.index_path('grade') %> </li>
    <li><%= link_to 'Add New Grade', rails_admin.new_path('grade') %> </li>
    <li><%= link_to 'Assignments', rails_admin.index_path('assignment') %> </li>

    <li><%= link_to 'Add New Assignment', rails_admin.new_path('assignment') %> </ li
  </ul>
</nav>>
