<nav>
  <ul>
    <li><%= link_to 'Home', root_path %> </li>
    <li><%= link_to 'Courses', courses_path %> </li>
    <li><%= link_to 'Add Course', rails_admin.new_path('course') %> </li>
    <li><%= link_to 'Grades', grades_path %> </li>
    <li><%= link_to 'Add New Grade', rails_admin.new_path('grade') %> </li>
    <li><%= link_to 'Assignments', assignments_path %> </li>
    <li><%= link_to 'Add New Assignment', rails_admin.new_path('assignment') %> </li>
    <li><%= link_to 'Students', students_path %> </li>
    <li><%= link_to 'Add Students', rails_admin.new_path('student') %> </li>
  </ul>
</nav>>
